<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPGZpmXrU9l5iAU6PJKVQlHzcv_gtI1Zg</string>
	<key>GCM_SENDER_ID</key>
	<string>848781214487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.associateArenaGroupchatPoc</string>
	<key>PROJECT_ID</key>
	<string>associate-arena-group-ch-bc8f2</string>
	<key>STORAGE_BUCKET</key>
	<string>associate-arena-group-ch-bc8f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848781214487:ios:a35014601752e31c982d52</string>
</dict>
</plist>